extends app.pug

block card
	section(class='flashcards')
		.card(class=`card-${linkDisplay}`)
			.card-header
			h1.card-title= linkDisplay
			#content
				h2= text
				if hint
					p.hint
						i= `Hint:  ${hint}`
			.card-flip-wrap
				a(href=`${id}?side=${link}`)
					img.card-flip(src='/static/img/flip.svg')
			.card-next
				a(href='/cards')
					img(src='/static/img/next.svg')
	script(src='/static/app.js')
